body {
    display: block;
    margin: 8px;
}

#main-heading {
    color: hsla(0, 76%, 16%, 0.952);
    font-family: Copperplate, fantasy;
    text-align: center;
}

.funParagraph {
    color:hsla(138, 82%, 18%, 0.952);
}

p {
    font-family: Poppins, sans-serif;
    padding: 25px 75px 75px 100px;
}

h2 {
    color:hsla(17, 92%, 24%, 0.952);
    text-align: center;
}

html {
    background-color:rgba(53, 89, 207, 0.2);
    
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}